apiVersion: apps/v1
kind: Deployment
metadata:
  name: argo-demo
  namespace: argo-demo
spec:
  replicas: 2
  selector:
    matchLabels:
      app: argo-demo
  template:
    metadata:
      labels:
        app: argo-demo
    spec:
      containers:
      - name: argo-demo
        image: groot321/argo-demo:v1
        ports:
        - containerPort: 80
